{% extends 'base.html.twig' %}

{% block body %}
<p><h1>{{ 'calendar.lease' | trans}}</h1></p>
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=pidiqcjr9cn46hjsj596kis9sck94phh%40import.calendar.google.com&amp;color=%23333333&amp;ctz=Europe%2FAmsterdam" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}
