{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}



{% block main %}
    <div class="row">
     <div class="column">{{form(form)}}</div>
     <div class="column">
         {{ include('blog/comments.html.twig') }}
     </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
