{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
     <div class='login'>
        {% if not app.user %} {{ include('security/login.html.twig') }} {% endif %}
     </div>
     <div class='new_user'>
         {{ form(new_user_form, {}) }}
      </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
