<h3>{{'request.updated' | trans }}</h3>
<br><br>
Je aanvraag is geupdated! Ga naar <a href="{{ url('lease_overview') }}">{{ url('lease_overview') }}</a> om je aanvraag te bekijken.
<br><br>
Het antwoord dat je gekregen hebt is:
<br>
{{content| nl2br}}
