<h3>{{'user.verify' | trans }}</h3>
<br><br>
Je hoeft alleen nog maar je account te verifieren! va naar  <a href="{{ url('confirm_account', {'password_reset': user.passwordReset}) }}">{{ url('confirm_account', {'password_reset': user.passwordReset}) }}</a> om je account te verifieren en je aanvraag te voltooien!
<br><br>
- Radix Enschede
