<h3>{{'account.password_reset' | trans }}</h3>
<br><br>
Je wachtwoord is gereset <a href="{{ url('security_reset', { 'password_reset' : password_reset}) }}">{{ url('security_reset', { 'password_reset' : password_reset}) }}</a> om je wachtwoord te wijzigen.
<br><br>
- Radix Enschede
