<h3>{{'request.updated' | trans }}</h3>
Beste {{ user.Fullname }}
<br><br>
Er is een getekend contract geupload voor je aanvraag. Je kunt het in de bijlage vinden. Is dit niet correct? Neem dan zo spoedig mogelijk contact met ons op.
- Radix Enschede
